<component name="libraryTable">
  <library name="Gradle: com.android.support.test.espresso:espresso-core:3.0.2@aar">
    <CLASSES>
      <root url="file://$USER_HOME$/.gradle/caches/transforms-1/files